.blocConmpt {
    width: 250px;
    height: 250px;
    background-color: midnightblue;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px auto 0 auto;
}

.contBtn {
    width: 100%;
    display: flex;
    justify-content: center;
}